.DS_Store
.git
.github
.mira
.pytest_cache
.ruff_cache
.venv
ENV
__pycache__
*.egg-info
*.env
*.pdb
!tests/data/**/*.pdb
.env
.env.*
!.env.example
build
dist
htmlcov
node_modules
test_binders
test_binders_small
trajectories
venv
webapp/dist
webapp/node_modules
*_cleaned.pdb
*_relaxed.pdb
*_renum.pdb
